<form class="new-post" action="<%= posts_url %>" method="post" data-remote="true">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Your Name<br>
  <input type="text" name="post[sender]" value=""></label>

  <br>

  <label>Sighting Story<br>
  <textarea name="post[body]"></textarea></label>

  <br>

  <button>Send</button>

</form>

<hr>

<h1>Amazing Cat Sightings</h1>

<section class="posts">
  <%= render @posts %>
</section>

<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
<script>

  $("form.new-post").on("ajax:success", function(event){
    this.reset();
  });

  Pusher.log = function(message) {
    console.log(message);
  };

  var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
  var channel = pusher.subscribe('posts');
  channel.bind('new', function(data) {
    console.log(data);

    $(".posts").prepend(data);
  });

</script>